{% extends "base.html" %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <h2>{{ post.title }}</h2>
    <!-- make this a link to author's page -->
    <h4>{{ post.name }}</h4>
    <h5>{{ post.post_date.strftime('%B %e, %Y') }}</h5>
    <br><br>
    <p>{{ post.body|safe }}</p>
    <h3>Comment</h3>
    <form action="/post/{{ post.id }}/comment" method="post">
        <textarea name="comment" required></textarea>
        <button type="submit">Submit</button>
    </form>
    <!-- comments post here -->
    {% for comment in comments %}
        <div class="comment">
            <h4>{{ comment.comment_post_datetime }}</h4>
            <p>{{ comment.comment }}</p>
        </div>
    {% endfor %}
{% endblock %}